/* sub_top */
.sub_top {
  position: relative;
}
.sub_top-text {
  position: relative;
  padding: 9.375rem 0;
  background-color: #000;
  mix-blend-mode: multiply;
  z-index: 1;
}
.sub_top-text h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 6.25rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.sub_top-video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.sub_top-video video {
  object-fit: cover;
}

/* sub_nav */
.sub_nav {
  position: absolute;
  left: 50%;
  bottom: 3.125rem;
  text-align: right;
  transform: translateX(-50%);
  z-index: 2;
}
.sub_nav-list {
  display: flex;
  gap: 1.875rem;
}
.sub_nav-link {
  color: #999;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: color 0.3s;
}
.sub_nav-link:hover {
  color: #fff;
}

/* attachedFile */
.attachedFile {
  padding: 6.25rem 0;
}
.attachedFile-explain {
  display: flex;
  gap: 3.75rem;
  margin-bottom: 7.5rem;
}
.attachedFile-logo {
  flex-shrink: 0;
}
.attachedFile-text {
  color: #e3e3e3;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
}
.attachedFile-video {
  font-size: 0;
}
.attachedFile-video video {
  width: 100%;
  border-radius: 1rem;
}
.attachedFile-video video + video {
  margin-top: 1.875rem;
}
.attachedFile-video + .attachedFile-image {
  margin-top: 3.125rem;
}
.attachedFile-image img {
  border-radius: 1rem;
}
.attachedFile-image img.mt30 {
  margin-top: 1.875rem;
}
.attachedFile-image img.mt50 {
  margin-top: 3.125rem;
}
.attachedFile-image.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.attachedFile-image.flex img {
  width: calc((100% - 1.25rem) / 3);
}

@media screen and (max-width: 1024px) {
  /* attachedFile */
  .attachedFile-explain {
    flex-direction: column;
    gap: 1.875rem;
  }
}
@media screen and (max-width: 768px) {
  /* sub_nav */
  .sub_nav {
    bottom: 0;
  }
  /* sub_top */
  .sub_top-text {
    padding: 6.25rem 0;
  }
  .sub_top-text h2 {
    font-size: 4rem;
  }
  /* attachedFile */
  .attachedFile-explain {
    margin-bottom: 3.75rem;
  }
  .attachedFile-text {
    font-size: 1.125rem;
  }
  .attachedFile-video video {
    border-radius: 0.5rem;
  }
}